<launch>
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="udp://:14540@localhost:14557"/>
    </include>
    <node pkg="eagle_comm" type="comm" name="eagle_comm" output="screen">
        <param name="port" type="int" value="54000"/>
        <param name="rate" type="int" value="50"/>
    </node>
    <node pkg="eagle" type="main.py" name="eagle" output="screen">
        <param name="rate" type="int" value="50"/>
        <param name="lidar_fov_deg" type="double" value="270"/>
        <param name="lidar_effective_fov_deg" type="double" value="160"/>
    </node>
</launch>